.light-theme {
  --text-color: #000000;

  --card-background-color: #6f26c975;
  --card-text-color: white;
  --card-link-color: #751fff;

  --apod-item-background-color: #e9e9e9;

  --details-background-color: #7e62c0bc;
  --details-text-background-color: #4b445393;
}

.dark-theme {
  --text-color: #ffffff;

  --card-background-color: #2a1f5a;
  --card-text-color: #f0f0f0;
  --card-link-color: #c6a2e4;

  --apod-item-background-color: #4b4453;

  --details-background-color: #5c4989;
  --details-text-background-color: #4b4453;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-title {
  font-family: Venite Adoremus;
  padding: 30px;
  margin-bottom: 30px;
  font-size: 3em;
}

.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #845ec2;
  color: white;
  font-size: 16px;
  margin-bottom: 100px;
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  z-index: 100;
}

.button:hover {
  background-color: #412c64;
}

@font-face {
  font-family: "Venite Adoremus";
  src: url(./assets/fonts/venite-adoremus-font/VeniteAdoremus-rgRBA.ttf);
}

@font-face {
  font-family: "Venite Adoremus Straight";
  src: url(./assets/fonts/venite-adoremus-font/VeniteAdoremusStraight-Yzo6v.ttf);
}
